#title0
{
    font-size: 50px;
    color:aqua;
    
}
#title
{
    height: 150px;

}
.title1
{
    font-size: 35px;
    color:antiquewhite;
}
.photo 
{
    width: 500px;
    height: 500px;
}
.LS
{
    width: 150px;
    height: 150px;

}