* {
    background-color:black;
    color:white;
    text-align: center;
}
table th,td {
    border:1px white solid;
    width:150px;
    height:100px;
    padding:10px;
}
table th {
    font-size:30px
}
#noon {
    width: 1372px;
}
#sheet{
    border:1px white solid;
    width:1373px;
} 
#curriculum{
    border:1px black solid;
    padding:100px;
    width:1473px;
    height:2000px;
}

@media print {
  * {
    print-color-adjust: exact !important;
  }
}
